
.text{
    color: white;
    width: 570px;
    height: 100px;

    
}

.mba{
    display: flex;
    justify-content: center;
    color: white;
}
.albums{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 204px;
    padding-right: 204px;
    margin-top: 65px;

    
}
.foto{
    justify-content: flex-start;
}

.navbar{
    display: flex;
    justify-content: space-around;

}

@media (min-width:361px)  and (max-width:1326px) {
    .navbar{
        display: block !important;
        text-align: center;
    }

    .buttons{
        display: block !important;
    }

    .main{
        display: block !important;
        margin-left: 0px !important;
        text-align: center !important;

    }
    .mainphoto{

        margin-left: 0px !important;
    }
    .starboy{
        text-align: center;
        margin-top: 0px !important;
        margin-left: 0px !important;

        
    }
    
    .albums{
        display: block !important;
        margin-left: -130px;
    }
    
    .maintexttitle{
        margin-right: 0px !important;
    }
    .text{
        margin-left: 0px !important;
        width: 100% !important;
    }
    .afterhouseh{
        margin-left: 70px;
    }
    .kisslandh{
        margin-left: 70px;
    }
    .trilogyh{
        margin-left: 70px;
    }
    .bbtmh{
        margin-left: 70px;
    }
    .mydearh{
        margin-left: 70px;
    }
}